body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body #wrap {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}


/*LOADER*/

.sk-circle {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    /* right: 50%; */

}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #1e6d5c;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* CONTENT */

.formContainer {
    margin-top: 5rem;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 6px 7px 9px 4px rgba(54, 51, 51, 0.377);
}

.formContainer form {
    display: flex;
    justify-content: center;
}

.formContainer input {
    width: 80%;
    margin-right: 10px;
}

.formContainer button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    background: lightgray;
}

#searchResults {
    display: none;
}

.radius {
    border-radius: 5px;
}

.userInfo {
    display: flex;
    margin-top: 30px;
}

.userInfo img {
    height: 100px;
    width: 100px;
}

.userInfo div {
    flex-grow: 1;
    margin-left: 25px;
}

.userInfo div p,
.userInfo div h3 {
    margin: 0;
}

.userInfo div p:first-child {
    font-style: italic;
}

.repos h3 {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 2px black solid;
}

.repos #reposTable {
    width: 100%;
}

.repos #reposTable>div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px 0;
    border-bottom: 0.5px #cccccc solid;
}

.repos #reposTable div:last-child {
    border-bottom: none;
}

.repos #reposTable a {
    color: black;
    text-decoration: none;
}

.repos #reposTable h4 {
    margin: 0;
}

.repos #no-repos {
    display: none;
    margin-top: 10px;
}

.scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    display: block;
}

.flex {
    display: flex;
}

.starimg {
    width: 12px
}

.forkimg {
    width: 8px;
    margin-left: 5px
}

#error {
    display: none;
    margin-top: 10px;
    text-align: center;
    background-color: #f9dede;
    color: #920f07;
    padding: 5px 0;
    border: 1px solid #cfb2b2;
    border-radius: 3px;
}